<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime_automation_project.script.verfyversionE"/>
      <class name="com.actitime_automation_project.script.Verfyhomepage"/>
      <class name="com.actitime_automation_project.script.Verfytasks"/>
      <class name="com.actitime_automation_project.script.VerfyValidLoginPageE"/>
      <class name="com.actitime_automation_project.script.Verfycheckbox"/>
      <class name="com.actitime_automation_project.script.verfyvalidloginpage"/>
      <class name="com.actitime_automation_project.script.VerfyInvalidLoginPageE"/>
      <class name="com.actitime_automation_project.script.verfyversion"/>
      <class name="com.actitime_automation_project.script.Verfyinvalidpage"/>
      <class name="com.actitime_automation_project.script.VerfyTitel"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
